
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #009fa5;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 1.7;
}




.intro-image {
    height: 95vh;
    background-image: url('../img/pexels-george-becker-330216.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    position: relative;
}
.intro-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.intro-image .btn {
    display: block;
    color: honeydew;
    font-size: 2.2rem;
    text-decoration: none;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    background-color: #009fa5;
    transition: all 0.3s;
}



.intro-text {
    text-align: center;
}
.intro-text__textbox {
    color: aliceblue;
}
.intro-text__textbox .heading-solid {
    font-size: 3rem;
}
.text-solid {
    font-size: 1.5rem;
}



.packaging-image {
    height: 65vh;
    background-image: url('../img/pexels-pixabay-80461.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 3%, 100% 14%, 100% 97%, 0 88%);
    position: relative;
}

.packaging-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.packaging-image__text .btn {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 2.2rem;
    text-decoration: none;
    padding: 1rem 1.4rem;
    border-radius: 4px;
    background-color: #009fa5;
    transition: all 0.3s;
}

.packaging-text {
    text-align: center;
}
.packaging_text__textbox {
    color: aliceblue;
}
.packaging_text__textbox .heading-solid {
    font-size: 3rem;
}
.packaging_text__textbox p {
    font-size: 1.5rem;
}



.tutorials-image {
    height: 95vh;
    background-image: url('../img/pexels-zenia-love-11533.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 3%, 100% 10%, 100% 100%, 0 100%);
    position: relative;
}
.tutorials-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tutorials-image__text .btn {
    text-transform: uppercase;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    text-decoration: none;
    padding: 1.3rem 3rem;
    border-radius: 6px;
    background-color: #009fa5;
    transition: all 0.3s;
}



.btn:hover {
    background-color: #009fa54d;
    transform: translateY(-5px);
}
.btn:active {
    transform: translateY(5px);
}



.footer {
    background-color: rgb(21, 255, 0);
    text-align: center;
}
.contact {
    display: inline-block;
    margin: 1rem;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.wrapper i, a {
    font-size: 1.4rem;
    margin-right: 1rem;
    text-decoration: none;
    color: var(--text);
}
.wrapper:hover {
    transform: translateY(-5px);
}
li {
    display: inline-table;
    list-style: none;
}

.copyright {
    font-size: 1.5rem;
}